@import "tailwindcss";

:root {
  --background: #DFD2C3;
  --text-primary-color: #4E331B;
  --text-secondary-color: #AD7611;
}

body {
  background: var(--background);
  color: var(--text-primary-color);
  font-family: "Poppins", sans-serif;
}

h1{
  font-family: "Lobster", sans-serif;
}